numpy==1.26.4
Pillow>=10.0
huggingface-hub==0.23.4
transformers==4.34.1
diffusers==0.20.2
accelerate==0.24.1
safetensors>=0.4.5
einops>=0.7
omegaconf>=2.3
rembg==2.0.57
onnxruntime>=1.18
trimesh>=4.4
xatlas
plyfile
PyMCubes
imageio[ffmpeg]
opencv-python-headless>=4.10
tqdm>=4.66
