numpy==1.26.4
huggingface-hub==0.22.2
diffusers==0.24.0
accelerate>=0.24,<1
transformers==4.39.3
wandb
h5py
trimesh>=4.4
matplotlib
opencv-python>=4.10,<5
smplx
timm
einops>=0.7
ninja
gradio
pillow>=10,<13
scipy
scikit-image
pyyaml
omegaconf
requests
imageio
imageio-ffmpeg
